@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');@font-face{font-family:'FontspringDEMOjuanaaltlight';src:url('./fonts/FontspringDEMOjuanaaltlight.eot');src:url('./fonts/FontspringDEMOjuanaaltlight.eot') format('embedded-opentype'),url('./fonts/FontspringDEMOjuanaaltlight.woff2') format('woff2'),url('./fonts/FontspringDEMOjuanaaltlight.woff') format('woff'),url('./fonts/FontspringDEMOjuanaaltlight.ttf') format('truetype'),url('./fonts/FontspringDEMOjuanaaltlight.svg#FontspringDEMOjuanaaltlight') format('svg');}
body{font-family:"Inter",sans-serif;}
.fontspring{font-family:'FontspringDEMOjuanaaltlight';}
.App{text-align:center;}
.App-logo{height:40vmin;pointer-events:none;}
@media (prefers-reduced-motion:no-preference){.App-logo{animation:App-logo-spin infinite 20s linear;}
}
.App-header{background-color:#282c34;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;font-size:calc(10px + 2vmin);color:white;}
.App-link{color:#61dafb;}
@keyframes App-logo-spin{from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}
/* mk css */
nav ul li a{color:#fff;font-size:20px;font-weight:400;}
.dropdown li{border-bottom:1px solid #292929;}
.dropdown li:last-child{border-bottom:none;}
.dropdown li a{padding:8px 14px;color:#fff;font-size:16px;font-weight:400;}
.dropdown li a:hover,.dropdown li a:focus{background:#94A393;color:#fff;}
.swiper-scrollbar{background-color:#e5e7eb;/* gray-300 */
 height:4px;border-radius:9999px;margin-top:1rem;}
.swiper-scrollbar-drag{background-color:#000;/* black */
 border-radius:9999px;height:100%;transition:background-color 0.3s ease;}
/* slider */
 .custom-swiper .swiper-slide{opacity:0.5;transform:scale(0.85);transition:all 0.4s ease-in-out;}
.custom-swiper .swiper-slide-active{opacity:1;transform:scale(1);}
.custom-nav{position:absolute;top:50%;z-index:10;width:40px;height:40px;background-color:white;border-radius:50%;transform:translateY(-50%);cursor:pointer;box-shadow:0 0 10px rgba(0,0,0,0.2);}
.custom-nav::after{content:'';display:block;width:12px;height:12px;border-top:2px solid black;border-right:2px solid black;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
.swiper-button-next::after{transform:translate(-50%,-50%) rotate(-45deg);}
/* testimonial.css */
.testimonial-swiper .swiper-slide{display: flex ; align-items: center;min-height: 300px; opacity:0.3;transition:opacity 0.5s ease-in-out; background: #fff; padding: 25px;}
.testimonial-swiper .swiper-slide-active{ opacity:1;transform:scale(1.02);z-index:10; display: flex; align-items: center; flex-direction: column; justify-content: center; padding: 40px; min-height: 400px; background: #fff; box-shadow: 0 0 15px 0 rgba(0,0,0,0.1); }
.testimonial-swiper .swiper-wrapper { align-items: center; padding-bottom: 15px; padding-top: 15px;}
.testimonial-swiper .swiper-slide p { font-size: 15px; }
.testimonial-swiper .swiper-slide.swiper-slide-active p { font-size: 22px;}
.testimonial-swiper .swiper-slide.swiper-slide-active p.title { font-size: 16px;}
.clientreview { overflow-y: auto; max-height: 200px;}
.footNav a:hover { color: #94A393;}
.overlaybx { overflow: hidden; position: relative; display: flex; align-items: center;  justify-content: center;}
.blackOverlay { transition: all ease .3s;}
.overlaybx:hover .blackOverlay { position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; background: #000; z-index:2;transition: all ease .3s;}

.overlaybx:before { content: ''; position: absolute; top: 0; bottom: -150%; left: 0; right: 0; width: 1px; height:200px; background: #fff; transition: all ease .3s; margin: auto; z-index: 3;}

.overlaybx:after { content: ''; position: absolute; left: 0; right: -150%; height: 1px; width: 200px; background: #fff; transition: all ease .3s; z-index: 2; margin: auto;}

.overlaybx:hover:before { bottom: 0;}
.overlaybx:hover:after { right: 0;}
.emailText {word-break: break-word;;}

/* Responsive */
@media(max-width:1023px){
.mobileNav li { border-bottom: 1px solid #403f3f;}
.mobileNav li:last-child { border-bottom:none ;}
.mobileNav li button, .mobileNav li a { padding: 8px 5px;}
.mobiledrop { padding: 0 0 0 10px;}
.mobiledrop li { border-bottom: 1px solid #403f3f;}
.mobiledrop li a {padding: 8px 5px; font-size: 14px;}
}

@media(max-width:767px){
.testimonial-swiper .swiper-slide p { font-size: 12px; }
.testimonial-swiper .swiper-slide.swiper-slide-active p { font-size: 15px;}
.testimonial-swiper .swiper-slide.swiper-slide-active p.title { font-size: 12px;}
.testimonial-swiper .swiper-slide { min-height: 250px;}
.testimonial-swiper .swiper-slide-active {padding: 15px; min-height: 300px;}
.overlaybx:before { height: 100px;}
.overlaybx:after { width: 100px;}
}